/* ************************************************************************************
***************************************************************************************
***************************            LOGIN        ***********************************
***************************************************************************************
***************************************************************************************
*/
/*Fondo de Pagina para el login*/
.loginvista {
  background:url("../IMG/fondo.gif")no-repeat fixed;
  webkit-background-size:cover;
  moz-background-size:cover;
  o-background-size:cover;
  background-size:cover;
}
/*Diseño del Logitipo del Login*/
.logo {
  width: 220px;
  height: 135px;
  margin-top:  -60px;
  margin-bottom:  30px;
}
/*Contenedor transparente del login*/
.cuadroTransparenteLogin {
  width: 500px !important;
  height: 470px !important;
  text-align: center !important;
  background-color: rgb(52, 73, 74, 0.10) !important;
  border border-radius: 4px !important;
  margin: 0 auto !important;
  margin-top: 150px !important;
}
/* Diseño de Formulario para entrada de datos*/
 input[type="text"],input[type="password"]{
  height: : 45px;
  width: 300px;
  font-size: 28px;
  border: none;
  margin: 30px;
  background-color: #fff;
  padding-left: : 50px; 
}
.form-input::before{
  content: ""
}
/* ************************************************************************************
***************************************************************************************
***************************           POKEDEX       ***********************************
***************************************************************************************
***************************************************************************************
*/
/*Fondo del Pokedex*/
.pokevista{
  background:url("../IMG/olas.gif")no-repeat fixed;
  webkit-background-size:cover;
  moz-background-size:cover;
  o-background-size:cover;
  background-size:cover;
}
/* Full Size Container */
.fullContainer, .fullWidth {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* Header Bar Style */
.header {
  height: 80px;
  background-color: blue; /*color azul*/
  width: 100%;
  /* Vertical and Horizontal Align */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* Pokedex Title Style */
.title {
  font-family: 'Rammetto One', cursive;
  color: #FFFFFF;
}
/* Pokemon Container */
.divInfo {
  border: 3px solid black;
  height: 250px;
  background-color: #FDF5DE;
  /* Picture Aling */
  display:flex;
  /* Vertical Align */
  align-items: center;
  /* Horizontal Align */
  justify-content: center;
  box-shadow: 3px 2px 5px #54585C;
}
/* Width Pokemon Picture */
.pokePicture {
  width: 200px;
}
.pokePicture:hover {
  width: 250px;
}
/* Name of the Pokemon Style */
.pokeName {
  border: 3px solid black;
  padding: 5px;
  background-color: #3ACFC0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: 'Coiny', cursive;
  font-size: 25px;
  box-shadow: 3px 2px 5px #54585C;
}
.vistaDentroPokemon {
  background-color: rgb(52, 73, 74, 0.10);
  border border-radius: 4px;
  margin: 0 auto;
  padding: 5%;
}